[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
tensorflow = "*"
scikit-learn = "*"
xgboost = "*"
requests = "*"
django = "*"

[dev-packages]
pylint = "*"
jupyter = "*"

[requires]
python_version = "3.6"
